div{
    margin: 10px;
}
#container{
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    min-height: 300px;
}
#left{
    width: 20%;
    float: left;
    margin: 20px;
}
#right{
    width: 20%;
    float: right;
    margin: 20px;
}
#gollum{
    width: 150px;
    float: right;
}
#content p{
    overflow: hidden;
}