.calculator {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background-color: aliceblue;
  padding-top: 1px;
}
.screen {
  background-color: aqua;
  font-size: 25px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.calculator_body {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}
.equal-sign {
  height: 98%;
  grid-area: 2/4/6/5;
}
